body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #7695FF;
}

.container {
    min-width: 250px;
    text-align: center;
    background-color: #9DBDFF;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: white;
    color: #7695FF;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #7695FF;
    color: white;
}

.link {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}