<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="auth_static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="{{ url_for('auth_bp.register_user') }}" method="post">
            {{ form.csrf_token }}
            <label style="color: white">{{ form.email.label }}</label>
            {{ form.email(class="input-field") }}
            <label style="color: white">{{ form.username.label }}</label>
            {{ form.username(class="input-field") }}
            <label style="color: white">{{ form.password.label }}</label>
            {{ form.password(class="input-field") }}
            <label style="color: white">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password(class="input-field") }}
            {{ form.signup(class="button") }}
        </form>
    </div>
</body>

</html>