<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="auth_static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Reset Password</h1>
        <form action="{{ url_for('auth_bp.reset_password') }}" method="post">
            {{ form.csrf_token }}
            <label style="color: white">{{ form.password.label }}</label>
            {{ form.password(class="input-field") }}
            {{ form.submit(class="button") }}
        </form>
    </div>
</body>

</html>